/*
 * Global settings
 */

* {
  font-family: sans-serif;
}
html {
  font-size: 100%;
  line-height: 1.5;
}
table {
}
h1,h2 {
  font-family: Georgia, serif;
  font-weight: 400;
  padding-left: 0.2em;
}
input[type=text] {
  border: 2px solid #ccc;
  box-sizing: border-box;
}
input[type=text]:focus {
  border-color: #ccc;
}
p {
}
br {
  padding-top: 1em;
}
footer {
  text-align: center;
  font-size: 0.75rem;
}
pre {
  padding: 0.5em 1em;
  font-family: "Courier New", monospace;
}
img {
  border:0;
}

td {
  padding: 0.5em;
}
a {
  text-decoration: none;
}
/*
 * class specific settings
 */
a:hover {
  text-decoration:underline;
}
tr.odd, tr.even {
  padding: 1em;
}
pre.command, pre.command_user {
  border-left: 0.2em solid #C70000;
}
pre.command_user {
  border-left: 0.2em solid #00C700;
}
pre.output {
  font-weight: normal;
}
div.important {
  margin: 1em 2em 1em 2em;
  font-size: 1em;
  padding: 0.5em;
  border: 2px solid #866;
}
div.note {
  margin: 1em 2em 1em 0em;
  font-size: 1em;
  border: 2px solid #dbddec;
  padding: 0.5em;
}
div.toc {
  margin: 0em;
  font-size: 0.9em;
  border: 1px solid #999999;
  padding: 0em 2em 0em 1em;
  width: -moz-max-content;
}
div.important img {
  padding: 0.4em;
}
div.note img {
  padding: 0em 0.4em;
}
/* Last edited info */
p.updated {
  text-align: left;
  font-size: 0.8125rem;
  font-weight: bold;
  font-style: italic;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
table.page {
  width: 100%;
  border: 1px;
  border-radius: 10px;
  border-style: solid;
}
table.top-menu {
  width: 100%;
}
td.logo {
}
td.top-menu {
  border: 0px;
  padding: 0em;
}
td.url {
  text-align: center;
}
a.menu {
  text-align: center;
  display: inline-block;
  width: 100%;
  border: none;
  padding: 10px 0px;
  text-decoration: none;
  font-size: 1.125rem;
  margin: 0;
  cursor: pointer;
}
a.post-link {
  margin: 0.8em;
}
td.menu {
  padding: 0em;
  width: 20%;
  border-radius: 5px;
}
td.forum {
  font-size: 0.875rem;
  width: 160px;
  vertical-align: top;
  text-align: center;
  border-radius: 10px;
}
div.post-time {
  font-size: 0.9rem;
  font-style: italic;
  padding-bottom: 0.4em;
  margin: 0.8em;
}
div.post-category {
  font-family: Georgia, serif;
  margin: 0.8em; 
}
div.post-subject {
  font-weight: bold;
  margin: 0.8em;
}
div.post-author {
  font-style: italic;
}
td.content {
  font-size: 0.875rem;
  vertical-align: top;
  margin-left: 0.8em;
}
@media print {
  header, footer {
    display: none;
  }
}
/* some browsers does not support:
 * @media (prefers-color-scheme:xxx)
 */
  a.menu, pre, tr.odd {
    color: #000;
  }
   h1.forum, td.forum, i.forum, a.forum, img.post-icon,
   a.post-link, div.post-time, div.post-category,
   div.post-subject, div.post-author, td.forum,
   body, pre, tr.odd {
    background-color: #D0D0D0;
  }
  body {
    background-color: #E0E0E0;
    color: #202122;
  }
  a {
    color: #3366cc;
  }
  td.menu {
    background-color:#AAAAAA;
  }
  .output {
    color: #444444;
  }
  tr.header {
    color: #FFFFFF;
    background-color: #606060;
  }
  .sidebar, .toc {
    background-color: #E0E0E0;
  }
  div.important {
    color: #883333;
  }
  #search-field {
    background-color: #E0E0E0;
  }
  table.page {
    border-color: #AAA;
  }
@media (prefers-color-scheme: dark) {
  * {
    color: #EEEEEE;
  }
  a.menu, pre, tr.odd {
    color: #FBFBFB;
  }
   h1.forum, td.forum, i.forum, a.forum, img.post-icon,
   a.post-link, div.post-time, div.post-category,
   div.post-subject, div.post-author, td.forum,
   pre, tr.odd  {
     background-color: #606060;
  }
  body {
    background-color: #505050;
  }
  a {
    color: #AAAAFF;
  }
  td.menu {
    background-color:#999999;
  }
  a.post-link {
  }
  pre, tr.odd, .output {
    color: #B8B8B8;
  }
  pre, tr.odd {
    background-color: #404040;
  }
  tr.header {
    color: #BBBBBB;
    background-color: #444444;
  }
  .sidebar, .toc {
    background-color: #666666;
  }
  div.important {
    color: #DD8888;
  }
  div.note {
    color: #8888DD;
  }
 #search-field {
   background-color: #505050;
 }
  table.page {
    border-color: #888;
  }
}
@media screen and (max-width: 1000px) and (orientation: portrait) {
  td.logo, td.forum {
    display: none;
  }
}
