/*
 * Global settings
 */

* {
 font-family:Verdana, sans-serif;
}
table {
 width: 100%;
 border-radius:10px;
}
h1,h2 {
 font-family: Georgia, serif;
 padding-left: 0.2em;
}

p {
  padding-left: 1em;
}
br {
  padding-top: 1em;
}
footer {
   text-align: center;
   font-size: 75%;
}
pre {
	padding: 0.5em 1em;
	margin: 1em 0em 1em 2em;
	font-weight: bold;
	color: black;
	font-family: monospace;
	background-color: #D0D0D0;
}
nav {
	padding-top: 1px;
}

/*
 * class specific settings
 */
/* horizontally center ul element */
nav ul {
	text-align: center;
}
nav li {
/* make list elements fall inline as block elements */
	position: relative;
	display: inline-block;
/* next two lines only for display purposes */
	text-align: center;
	border: 1px solid black;
}
nav li a {
	font-size: 12px;
	text-decoration: none;
	float: left;
	padding: 10px;
	background-color: #333333;
	color: #ffffff;
	border-bottom: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}
nav li a:hover {
	background-color:#9B1C26;
	border-bottom-color:#000000;
	border-bottom-style:solid;
}
pre.command {
	border-left: 0.2em solid #C70000;
}
pre.command_user {
	border-left: 0.2em solid #00C700;
}
pre.output {
	font-weight: normal;
}
div.important {
	margin: 1em 2em 1em 2em;
	font-size: 1.2em;
	color: #883333;
	padding: 0.5em 0.5em 0.5em 0.5em;
	border: 2px solid #866;
}
div.note {
	margin: 1em 2em 1em 0em;
	font-size: 1em;
	color:#333388;
	border: 2px solid #dbddec;
	padding: 0.5em 0.5em 0.5em 0.5em;
}
div.toc {
	margin: 0em 0em 0em 0em;
	font-size: 0.9em;
	border: 1px solid #999999;
	padding: 0em 2em 0em 1em;
	width: -moz-max-content;
	background-color: #e9e9ef;
}
div.important img {
	padding: 0.4em;
}
div.note img {
	padding: 0em 0.4em;
}
/* Last edited info */
p.updated {
	text-align: left;
	font-size: small;
	font-weight: bold;
	font-style: italic;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
td.logo {
   width: 25%; 
   border: 1px;
   border-style: dashed;
}
td.top-menu {
}
a.menu {
  text-align:center;
  display:inline-block;
  width: 100%;
  border: none;
  padding: 10px 0px;
  text-decoration: none;
  font-size: 18px;
  margin: 0;
  cursor: pointer;
} 
td.menu {
  width: 20%;
  border-radius:10px;
}
td.forum {
 vertical-align: top;
 text-align: center;
 border-radius:10px;
}
div.post-time {
 font-size: 0.9em;
 font-style: italic;
 padding-bottom: 0.4em;
}
div.post-category {
 font-family: Georgia, serif;
 }
div.post-subject {
	font-weight: bold;
}
div.post-author {
 font-style: italic;
}
td.content {
   vertical-align: top;
}

 @media print {
	header, footer {
		display: none;
	}
}

@media (prefers-color-scheme: light) {
  * {
    background-color:#FFFFFF;
    color: #000;
  }
   h1.forum, td.forum, i.forum, a.forum, img.post-icon,
   a.post-link, div.post-time, div.post-category,
   div.post-subject, div.post-author, td.forum {
   background-color: #E0E0E0;
  }
  a.menu {
   background-color:#AAAAAA;
  }
  a.post-link {
 color: #444444;
 }
  tr.odd {
   background-color: #D0D0D0;
  }
  tr.header {
	 color: white;
	 background-color: #606060;
}

}
@media (prefers-color-scheme: dark) {
  * {
    background-color: #444444;
    color:#BBBBBB;
  }
   h1.forum, td.forum, i.forum, a.forum, img.post-icon,
   a.post-link, div.post-time, div.post-category,
   div.post-subject, div.post-author, td.forum {
   background-color: #666666;
  }
  a.menu {
   background-color:#666666;
  }
  a.post-link {
   color: #B8B8B8;
  }
  tr.even {
   background-color: #D0D0D0;
  }
  tr.odd {
   background-color: #404040;
  }
  tr.header {
	 color: #BBBBBB;
	 background-color: #444444;
}
